/* Flatpickr input field */
.flatpickr-input {
  background-color: #0a0a0f;  /* black background */
  color: white;               /* white text */
  border: 2px solid #ff9900;  /* optional accent */
  border-radius: 8px;
  padding: 8px 12px;
  
}
.container{
  min-height: 100vh;

}
/* Flatpickr calendar popup */
.flatpickr-calendar {
  background-color: #0a0a0f;  /* black popup */
  color: white;               /* text color */
  border: 1px solid #ff9900;  /* accent border */
}

/* Day hover / selected day */
.flatpickr-day:hover,
.flatpickr-day.selected {
  background: #ff9900;  /* accent color for selected day */
  color: #0a0a0f;       /* text color of selected day */
}

/* Month / Year / arrows */
.flatpickr-months,
.flatpickr-weekdays {
  background-color: #0a0a0f;
  color: white;
}


.slected-service {
  display: flex;
  gap: 5%;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  padding: 10% 10%;

}

.service-info {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 450px;
  padding:0px 20px;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
}

.service-info img {
  width: 100%;
  max-width: 500px;
  height: 350px; /* keep height consistent */
  object-fit: cover; /* avoid stretching */
  aspect-ratio: 1/1;
  border: double 3px transparent;
  border-radius: 12px;
  background-image: linear-gradient(#0a0a0f, #0a0a0f), linear-gradient(90deg, rgba(250, 134, 4, 1), rgba(249, 0, 209, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  outline: none;
  cursor: text;
  color: white;  
  margin-bottom: 0px;
}
.service-info h1{
  background: linear-gradient(90deg, rgba(250, 134, 4, 1) 0%, rgba(249, 0, 209, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 2s ease-in-out;
    font-size: 25px;
    margin: 0;
    text-align: left;
}
.service-info h1,
.service-info p {
  white-space: normal; /* allow text to wrap */
  word-break: break-word; /* break long words if needed */
}
.service-info p{
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;  /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden; 
   text-align: start;

}

.service-desc {
  color: #ccc;
  font-size: 25px;
  margin-bottom: 5px;
}

.amount {
  color: #ff9900;
  font-weight: bold;
  align-items: flex-start; /* keeps everything left-aligned */

}

.booking-form {
  display: flex;
  flex-direction: column;
  border: double 3px transparent;
  border-radius: 12px;
  background-image: linear-gradient(#0a0a0f, #0a0a0f), linear-gradient(90deg, rgba(250, 134, 4, 1), rgba(249, 0, 209, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  outline: none;
  cursor: text;
  padding: 2% 5%;
  text-align: start;
  width: 45%;
  color: white;
}

.booking-form h2 {
  margin-bottom: 10px;
  background: linear-gradient(90deg, rgb(255, 136, 0) 0%, rgb(255, 0, 212) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 2s ease-in-out;
  margin-bottom: 3%;
}

.booking-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
input , textarea , select {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  font-size: 15px;
  color: white;
  border: double 3px transparent;
  border-radius: 12px;
  background-image: 
    linear-gradient(#0a0a0f , #0a0a0f ), 
    linear-gradient(90deg, rgba(250, 134, 4, 1), rgba(249, 0, 209, 1))!important;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  outline: none;
  cursor: text;
  transition: background-color 100000s ease-in-out 0s;
}

select{
  cursor: pointer;
}
select option{
  background-color: #0a0a0f;
  color: white;
}
input::placeholder{
  color: rgba(255, 255, 255, 0.457);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(100%) contrast(100%);
  cursor: pointer;
}
.booking-form textarea {
  resize: vertical;
  min-height: 80px;
}

.row {
  display: flex;
  gap: 10px;
}

.row div {
  flex: 1;
}

.book-btn {
  margin-top: 20px;
  background: linear-gradient(45deg, #ff005c, #ff9900);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.book-btn:hover {
  opacity: 0.9;
}

.category-section {
  padding: 5% 15%;
  text-align: center;
  background-color: #0a0a0f;
}

.category-title {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(255, 136, 0) 0%, rgb(255, 0, 212) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 2s ease-in-out;
  margin-bottom: 3%;
}


.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.service-card {
  display: flex;
  flex-direction: column;
  border: double 3px transparent;
  border-radius: 12px;
  background-image: linear-gradient(#0a0a0f, #0a0a0f), linear-gradient(90deg, rgba(250, 134, 4, 1), rgba(249, 0, 209, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-repeat: no-repeat;
  max-width: 500px;
  background-size: 100% 100%;
  outline: none;
  cursor: text;
  text-align: start;
  color: white;
  padding: 20px  ;
  transition: all 0.2s ease;
}

.service-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.service-card h2 {
  margin-top: 15px;
  font-size: 2rem;
  margin: 0 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.service-card .desc b {
  color: #aaa;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: start;
}

.name {
  display: block;
  color: #ff7e5f;
  font-weight: bold;
  margin: 10px 0;
}

.book-btn {
  background: linear-gradient(90deg, rgba(250, 134, 4, 1) 0%, rgba(249, 0, 209, 1) 100%);  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  font-size: 1.5rem;
}

.book-btn:hover {
  opacity: 0.9;
}

.service-card:hover {
  transform: translateY(-7px);
  box-shadow: 0px 4px 15px rgba(255, 79, 163, 0.3);
}
@media(max-width:850px){
  .slected-service {
    flex-direction: column;
    padding: 10% 2%;
  }
  .slected-service .service-info,
  .slected-service .booking-form{
    width: 100%;
    padding: 10% 2%;
  }

  .category-section {
    padding: 10% 2%;
  }
  .category-title {
    font-size: 2rem;
  }

}


