.category-section {
  padding: 10% 15%;
  text-align: center;
  background-color: #0a0a0f;
  min-height: 100vh;

}

.category-title {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(255, 136, 0) 0%, rgb(255, 0, 212) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 2s ease-in-out;
}

.category-subtitle {
  color: #ccc;
  margin-bottom: 30px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.service-card {
  display: flex
  ;
      flex-direction: column;
      border: double 3px transparent;
      border-radius: 12px;
      background-image: linear-gradient(#0a0a0f, #0a0a0f), linear-gradient(90deg, rgba(250, 134, 4, 1), rgba(249, 0, 209, 1));
      background-origin: border-box;
      background-clip: padding-box, border-box;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      outline: none;
      cursor: text;
      max-width: 500px;
      text-align: start;
      color: white;
      padding: 20px;
      transition: all 0.2s ease;
}

.service-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.service-card h2 {
  margin-top: 15px;
  font-size: 2rem;
  margin: 0 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.service-card .desc b {
    color: #aaa;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: start;
  }


.name {
  display: block;
  color: #ff7e5f;
  font-weight: bold;
  margin: 10px 0;
}

.book-btn {
  background: linear-gradient(90deg, rgba(250, 134, 4, 1) 0%, rgba(249, 0, 209, 1) 100%);  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  font-size: 1.5rem;
}

.book-btn:hover {
  opacity: 0.9;
}

.service-card:hover {
  transform: translateY(-7px);
  box-shadow: 0px 4px 15px rgba(255, 79, 163, 0.3);
}
@media(max-width:850px){
  .category-section {
    padding: 10% 2%;
  }
}